body
{
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace !important;
}

/* nav */

.navbar
{
    animation-name: bounceInLeft;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

.navbar-brand
{
    text-transform: capitalize;
    width: 50px;
    height: 50px;
    animation-name: shakeY;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
}

.navbar-brand img
{
    margin-top: -15px;
    width: 100px;
    height:100px;
}

.navbar-brand:hover
{
    color: black;
    animation-name: shakeX;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.navbar-toggler
{
    padding: 1px 5px;
    font-size: 18px;
    line-height: .3;
    background: transparent !important;
}

.navbar-scroll
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #03a9f4;
    padding: 8px 55px;
    transition: .7s;
    animation: scroll .6s 1;
}

@keyframes scroll{
    0%
    {
        transform: translateY(-100);
    }
    100%
    {
        transform: translateY(0);
    }
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover
{
    color: white;
}

.dropdown-menu .nav-link
{
    color:white !important;
    transition: .5s;
}

.dropdown-menu .nav-link:hover
{
    color: red !important;
    background: none !important;
}

.dropdown-menu
{
    background: none !important;
}

.dropdown-menu .nav-link:after
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: 0.5s;
    content: "";
    transform-origin: left;
    background-color: red;
}

.dropdown-menu .nav-link:hover:after
{
    transform-origin: right;
    transform: scaleX(1);
}

.nav-item .nav-link:hover:before
{
    transform-origin: left;
    transform: scaleX(1);
}

.nav-item .nav-link
{
    font-size: 15px;
    color: black;
    font-weight: 300 !important;
    text-transform: uppercase;
    margin: 0px 10px;
    position: relative;
}

.nav-item .nav-link:after
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: 0.5s;
    content: "";
    transform-origin: left;
    background-color: red;
}

.nav-item .nav-link
{
    color: white!important;
    font-weight: bold;
    transition: .7s;
}

.nav-item .nav-link:hover
{
    color: red !important;
    font-weight: bold;
}

.nav-item .nav-link:hover:before
{
    transform-origin: left;
    transform: scaleX(1);
}

.nav-item .nav-link:hover:after
{
    transform-origin: right;
    transform: scaleX(1);
}

/* Header */

.header
{
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/notebook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
}

.header h2
{
    margin-top: -350px;
    color: rgba(12, 32, 122, 0.699);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    animation-name: shakeX;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.header h2 span
{
    font-size: 1.5em;
    font-weight: 700;
    color: red;
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.ityped
{
    color: #03a9f4;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    font-size: 30px;
    text-align: center;
}

/* About Us */

.about
{
    margin-top: 100px;
    color: #262626;
    padding: 20px;
    background: #fff;
}

.about_head h2
{
	margin-top: -5%;
    margin-left: 33%;
    margin-bottom: 1%;
    font-size: 3em;
    color: #262626;
    border-bottom: 3px solid pink;
    border-right: 3px solid pink;
    width: 500px;
    text-align: center;
    box-shadow: 4px 4px 5px grey;
}

.about_head
{
	width: 100%;
	text-align: center;
	color: #fff;
}

.about_head .testimonial
{
    color: black;
}

/* Testimonial */

section
{
    background-color: #644e4e;
}

.testimonial
{
    margin: 20px auto 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}
.testimonial .card
{
    padding: 20px;
    position: relative;
    width: 350px;
    margin: 0 auto;
    background:#333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0,.5 );
    overflow: hidden;
}

.testimonial .card .layer
{
    z-index:1;
    top: calc(100% - 2px);
    position: absolute;
    width: 100%;
    background: linear-gradient(#03a9f4,#e91ee3);
    transition: .5s;
    height: 100%;
    left: 0;
}

.testimonial .card:hover .layer
{
    top: 0;
}

.testimonial .card .content
{
    z-index: 2;
    position: relative;
}

.testimonial .card .content p
{
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.testimonial .card .content .images
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0,.5 );
}

.testimonial .card .content .images img
{
    width: 130px;
    height: 130px;
}

.testimonial .card .content .details h2
{
    font-size: 18px;
    color: white;
    transition: .5s;
}

.testimonial .card .content .details h2 span
{
    color: #03a9f4;
    font-size: 14px;
    transition: .5s;
}

.testimonial .card:hover .content .details h2
{
    color: #03a9f4;
}

.testimonial .card:hover .content .details h2 span
{
    color: white;
}

.testimonial-head h2
{
    margin-top: 100px;
    margin-left: 33%;
    font-size: 3em;
    border-bottom: 3px solid pink;
    border-right: 3px solid pink;
    width: 500px;
    text-align: center;
    box-shadow: 4px 4px 5px grey;
}

/* RESPONSIVITY */
@media(max-width:414px)
{
    .testimonial-head h2
    {
        margin-left: 1.5% !important;
    }
}
@media(max-width:991px)
{
    /* .navbar-brand{
        height: 15%;
    }
    .navbar-scroll
    {
        height: 40%;
    } */
    .header
    {
        padding: 100px 5px;
    }
    .header h2
    {
        font-size: 1.9em;
        margin-left: 0;
        margin-top: -350px;
    }
    .iTyped
    {
        font-size: 1.5em;
        color: #03a9f4;
    }
    .testimonial-head h2
    {
        font-size: 2em;
        width: 400px;
        margin-left: 19%;
        margin-bottom: 15%;
    }
    .about_head .testimonial
    {
        margin-left: -100% !important;
    }
    .about_head h2
    {
        margin-top: -10%;
        width: 350px;
        margin-left: 19%;
        margin-bottom: 10%;
    }
    
}

footer
{
    position: relative;
    bottom: 0;
    width: 100%;
    background: #111;
    color: white;
}

.main-content
{
    display: flex;
}

.main-content .box
{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2
{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content
{
    margin: 20px 0 0 0;
}

.left .content p
{
    text-align: justify;
}

.center .content .phone
{
    padding-bottom: 15px;
}

.center .content .place
{
    padding-bottom: 15px;
}

.center .content .email
{
    padding-bottom: 15px;
}

.left .content .social
{
    margin: 20px 0 0 0;
}

.left .content .social a
{
    margin: 0 2px;
}

.left .content .social a span{
    height: 40;
    width: 40;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    transition: .3s;
}

.main-content img{
    height: 25px;
    width: 25px;
    transition: .3s;
}

.left .content .social a span:hover
{
    background: #f12020;
    height: 30px;
    width: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swipe
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #111;
}

.testimonials
{
    position: relative;
    max-width: 100%;
}

/* .swiper-container
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
} */

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 300px;
    min-height: 30px;
    background: #fff;
    color: red;
}

.last_part
{
    background: #111;
    color: #fff;
    text-align: center;
    margin-bottom: -1%;
    padding: 0;
    height: 100%;
}

.last_part h2
{
    font-size: 1.5em;
}

@media(max-width:414px)
{
    *
    {
        margin-left: -1%;
        padding: 0;
    }
    .header h2
    {
        margin-top: -150% !important;
        /* margin-bottom: -10%; */
    }
    .testimonial-head h2
    {
        margin-top: 10%;
        margin-bottom: -1%;
        margin-left: 0% !important;
        width: 230px;
        font-size: 2em !important;
    }
    .about_head h2
    {
        margin-left: 25% !important;
        margin-top: -20% !important;
        font-size:1.5em;
        width: 175px;
    }
    .about .testimonial .card
    {
        margin-left: -1% !important;
        margin-right: -10% !important;
        /* margin-right: -10% !important; */
    }
    footer
    {
        width: 100%;
        font-size: 1em;
    }
    footer input{
        width: 70px;
    }
    footer textarea
    {
        width:70px;
    }
    footer button
    {
        margin-left: -20px;
        width: 80px;
        font-size: 3em;
    }
    .last_part h2
    {
        font-size: 1em;
    }
}

@media(max-width:476px)
{
    .testimonial-head h2
    {
        margin-top: 10%;
        margin-bottom: -1%;
        margin-left: 0% !important;
        width: 230px;
        font-size: 2em !important;
    }
    .about_head h2
    {
        margin-left: 25% !important;
        margin-top: -20% !important;
        font-size:1.5em;
        width: 175px;
    }
}

@media(max-width:360px)
{
    #testimonial .testimonial
    {
        margin-left: -4% !important;
        /* margin-right: -1% !important; */
    }
    .about .testimonial
    {
        margin-left: -5% !important;
        margin-right: -5% !important;
    }
}

@media(max-width:375px)
{
    .header h2
    {
        margin-top: -150% !important;
        /* margin-bottom: -10%; */
    }
    .testimonial-head h2
    {
        margin-top: 10%;
        margin-bottom: 1%;
        margin-left: 1% !important;
        width: 215px;
        font-size: 1.7em !important;
    }
    .about_head h2
    {
        margin-left: 25% !important;
        margin-top: -20% !important;
        font-size: 1.5em;
        width: 175px;
    }
    #testimonial .testimonial .card
    {
        margin-left: -3% !important;
        margin-right: -3% !important;
    }
    .about .testimonial .card
    {
        margin-left: -6% !important;
        margin-right: 0% !important;
    }
    footer
    {
        width: 100%;
        font-size: .8em !important;
    }
    footer input{
        width: 50px;
    }
    footer textarea
    {
        width:50px;
    }
    footer button
    {
        margin-left: -13px;
        width: 60px !important;
        font-size: 10px !important;
    }
}

@media(max-width:768px)
{
    .header
    {
        width: 100%;
    }
    .header h2
    {
        margin-top: -90%;
    }
    input
    {
        width: 100px;
    }
    textarea
    {
        width: 100px;
    }
    .testimonial-head h2
    {
        margin-left: 25% !important;
        font-size: 3em;
    }
    .about_head h2
    {
        margin-top: 1.8%;
        margin-left: 25%;
        margin-bottom: 2.5%;
    }
    .left .content p
    {
        text-align: justify;
    }
}

@media(max-width:1024px)
{
    .header h2
    {
        margin-top: -70%;
    }
}